<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--namespace命名空间  -->
<mapper namespace="com.yc.clothing.dao.Goods_SalerDao">
	<!-- 一对一关联查询对应的商品-->
	<resultMap id="Map" type="com.yc.clothing.bean.Goods_Saler">
		<id column="id" property="id"></id>
		<association  property="goods" column="gid" fetchType="lazy"
			select="com.yc.clothing.dao.GoodsDao.selectById">
		</association>
	</resultMap>
	<!-- 按销售的数量排序(根据商品id分组)-->
	<select id="OrderByCount" resultMap="Map">
		select DISTINCT *  from goods_saler group by gid  
		order by sum(count) desc
	</select>
</mapper>