<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--namespace命名空间  -->
<mapper namespace="com.yc.clothing.dao.GoodsDao">
	<select id="selectById" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods where id=#{id}
	</select>
	<select id="OrderByTime" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods order by time desc
	</select>
	<select id="countAll" resultType="java.lang.Integer">
	select count(*) cnt from (
		select *from cs_goods) a
	</select>
	<select id="selectBySid" resultType="java.util.Map">
		select *from cs_goods where sid=#{sid}
	</select>
	<select id="selectCountByColorAndSize" resultType="java.util.Map">
		SELECT b.stock,a.price, a.rebate ,a.feature ,a.describe , a.image, a.time , b.id FROM cs_goods a 
		JOIN size_color b ON a.id=b.gid WHERE b.color=#{arg0} AND b.size=#{arg1} AND a.name=#{arg2}
	</select>
	<select id="selectGoodInfoByName" resultType="java.util.Map">
		SELECT * FROM size_color WHERE gid=#{arg0}
	</select>
	<select id="selectGoodInfoById" resultType="com.yc.clothing.bean.Goods">
		SELECT * FROM CS_GOODS WHERE id=#{id}
	</select>
	<select id="selectAll" resultType="java.util.Map">
		select *from cs_goods where (price*rebate) between #{min} and #{max}
	</select>
	<select id="selectAllByFuzzy" resultType="java.util.Map">
		select *from cs_goods where (price*rebate) between #{min} and #{max}
		and name like '%' #{name} '%'
	</select>
	
	<select id="AllGoodsByParentid" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and (price*rebate) between #{min} and #{max}
	</select>
	<select id="AllGoodsByParentidFuzzy" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) 
			and (price*rebate) between #{min} and #{max}
			and name like '%' #{name} '%'
	</select>
	<select id="AllGoodsByBoardid" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods where bid=#{id} and (price*rebate) between #{min} and #{max}
	</select>
	<select id="AllGoodsByBoardidFuzzy" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods where bid=#{id} 
		and (price*rebate) between #{min} and #{max}
		and name like '%' #{name} '%'
	</select>
	
	<select id="AllGoodsOrderByName" resultType="java.util.Map">
		select *from cs_goods where (price*rebate) between #{min} and #{max} order by name
	</select>
	<select id="AllGoodsOrderByNameFuzzy" resultType="java.util.Map">
		select *from cs_goods where 
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by name
	</select>
	<select id="findGoodsByParentidOrderByName" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and (price*rebate) between #{min} and #{max}
			 order by name
	</select>
	<select id="findGoodsByParentidOrderByNameFuzzy" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) 
			and (price*rebate) between #{min} and #{max}
			and name like '%' #{name} '%' order by name
	</select>
	<select id="findGoodsByBoardidOrderByName" resultType="java.util.Map">
		select *from cs_goods where bid=#{id} and (price*rebate) between #{min} and #{max} order by name
	</select>
	<select id="findGoodsByBoardidOrderByNameFuzzy" resultType="java.util.Map">
		select *from cs_goods where bid=#{id} 
		and (price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by name
	</select>
	
	<select id="AllGoodsOrderByNameDesc" resultType="java.util.Map">
		select *from cs_goods where (price*rebate) between #{min} and #{max} order by name desc
	</select>
	<select id="AllGoodsOrderByNameDescFuzzy" resultType="java.util.Map">
		select *from cs_goods where 
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by name desc
	</select>
	<select id="findGoodsByParentidOrderByNameDesc" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and
			(price*rebate) between #{min} and #{max} order by name desc
	</select>
	<select id="findGoodsByParentidOrderByNameDescFuzzy" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and
			(price*rebate) between #{min} and #{max} 
			and name like '%' #{name} '%' order by name desc
	</select>
	<select id="findGoodsByBoardidOrderByNameDesc" resultType="java.util.Map">
		select *from cs_goods where bid=#{id} and
		(price*rebate) between #{min} and #{max} order by name desc
	</select>
	<select id="findGoodsByBoardidOrderByNameDescFuzzy" resultType="java.util.Map">
		select *from cs_goods where bid=#{id} and
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by name desc
	</select>
	
	<select id="AllGoodsOrderByPrice" resultType="java.util.Map">
		select *from cs_goods where (price*rebate) between #{min} and #{max} order by (price*rebate)
	</select>
	<select id="AllGoodsOrderByPriceFuzzy" resultType="java.util.Map">
		select *from cs_goods where 
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by (price*rebate)
	</select>
	<select id="findGoodsByParentidOrderByPrice" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and
			(price*rebate) between #{min} and #{max} order by (price*rebate)
	</select>
	<select id="findGoodsByParentidOrderByPriceFuzzy" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) and
			(price*rebate) between #{min} and #{max} 
			and name like '%' #{name} '%' order by (price*rebate)
	</select>
	<select id="findGoodsByBoardidOrderByPrice" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} and 
		(price*rebate) between #{min} and #{max} order by (price*rebate)
	</select>
	<select id="findGoodsByBoardidOrderByPriceFuzzy" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} and 
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by (price*rebate)
	</select>
	
	<select id="AllGoodsOrderByPriceDesc" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} and 
		(price*rebate) between #{min} and #{max} order by (price*rebate) desc
	</select>
	<select id="AllGoodsOrderByPriceDescFuzzy" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} and 
		(price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by (price*rebate) desc
	</select>
	<select id="findGoodsByParentidOrderByPriceDesc" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) 
			and price between #{min} and #{max} order by (price*rebate) desc
	</select>
	<select id="findGoodsByParentidOrderByPriceDescFuzzy" resultType="java.util.Map">
		select * from cs_goods where bid in
			(select id from cs_board where parentid=#{id}) 
			and price between #{min} and #{max} 
			and name like '%' #{name} '%' order by (price*rebate) desc
	</select>
	<select id="findGoodsByBoardidOrderByPriceDesc" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} 
		and (price*rebate) between #{min} and #{max} order by (price*rebate) desc
	</select>
	<select id="findGoodsByBoardidOrderByPriceDescFuzzy" resultType="java.util.Map">
		select *from cs_goods where bid=#{bid} 
		and (price*rebate) between #{min} and #{max} 
		and name like '%' #{name} '%' order by (price*rebate) desc
	</select>
	<select id="fuzzySearchGoods" resultType="com.yc.clothing.bean.Goods">
		select DISTINCT *from cs_goods where name like '%' #{name} '%'
	</select>
</mapper>