<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--namespace命名空间  -->
<mapper namespace="com.yc.clothing.dao.GoodsDao">
	<select id="selectByBoardid" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods where bid=#{bid}
	</select>
	<select id="selectById" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods where id=#{id}
	</select>
	<select id="OrderByTime" resultType="com.yc.clothing.bean.Goods">
		select *from cs_goods order by time desc
	</select>
	<select id="countAll" resultType="java.lang.Integer">
	select count(*) cnt from (
		select *from cs_goods) a
	</select>
	<select id="selectAll" resultType="java.util.Map">
		select *from cs_goods 
	</select>
	<select id="selectBySid" resultType="java.util.Map">
		select *from cs_goods where sid=#{sid}
	</select>
	<select id="selectCountByColorAndSize" resultType="java.util.Map">
		SELECT b.stock,a.price, a.rebate ,a.feature ,a.gdescribe , a.image, a.time , b.id FROM cs_goods a 
		JOIN size_color b ON a.id=b.gid WHERE b.color=#{arg0} AND b.size=#{arg1} AND a.name=#{arg2}
	</select>
	<select id="selectGoodInfoByName" resultType="java.util.Map">
		SELECT * FROM size_color WHERE gid=#{arg0}
	</select>
	<select id="selectGoodInfoById" resultType="com.yc.clothing.bean.Goods">
		SELECT * FROM CS_GOODS WHERE id=#{id}
	</select>
	<select id="OrderByName" resultType="java.util.Map">
		select *from cs_goods order by name
	</select>
	<select id="OrderByNameDesc" resultType="java.util.Map">
		select *from cs_goods  order by name desc
	</select>
	<select id="OrderByPrice" resultType="java.util.Map">
		select *from cs_goods  order by (price*rebate)
	</select>
	<select id="OrderByPriceDesc" resultType="java.util.Map">
		select *from cs_goods  order by (price*rebate) desc
	</select>
	<select id="selectBySidAndCondition" resultType="java.util.Map">
		select *from cs_goods  order by (price*rebate) desc
	</select>
	<select id="fuzzySearchGoods" resultType="com.yc.clothing.bean.Goods">
		select DISTINCT *from cs_goods where name like '%' #{name} '%'
	</select>
</mapper>