<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yc.clothing.dao.OrdersDao">
	<insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  		insert into cs_orders(uid,time,orderAddr,status) values(#{uid},#{time},#{orderAddr},1)
  	</insert>
  	<insert id="insertOrder1" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  		insert into cs_orders(uid,time,orderAddr,status) values(#{uid},#{time},#{orderAddr},0)
  	</insert>
  	
  
  </mapper>